<h2>ramdom cervezas</h2>
<div class="beerInfo">
    <a class="beers-page" href="/beers/{{beer.id}}"><img src="{{beer.image_url}}" alt="{{beer.name}} beer"></a>
    <h4>{{beer.name}}</h4>
    <p class="tag">{{beer.tagline}}</p>
    <p class="desc">{{beer.description}}</p>
</div>